<div class="container mt-4">
  <form (submit)="onSubmit()" ngNativeValidate>
    <div class="input-group">
      <input
        id="searchInput"
        type="text"
        class="form-control"
        placeholder="Please enter an artist name."
        aria-label="Search"
        [(ngModel)]="searchQuery"
        name="searchQuery"
        required
      />
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!searchQuery.trim()"
      >
        Search
        <div
          *ngIf="isLoading"
          class="spinner-border spinner-border-sm text-light ms-2"
          role="status"
        ></div>
      </button>
      <button class="btn btn-secondary" type="reset" (click)="onClear()">
        Clear
      </button>
    </div>
  </form>
  <div *ngIf="isEmpty">
    <div class="alert alert-danger mt-3" role="alert">No results.</div>
  </div>
  <div class="d-flex flex-nowrap overflow-auto mt-2">
    <div
      class="flex-shrink-0 me-2"
      style="min-width: 200px; width: 200px"
      *ngFor="let result of searchResults"
    >
      <div
        class="card"
        (click)="onCardClick(result)"
        (mouseover)="onHover(true, result)"
        (mouseleave)="onHover(false, result)"
        [ngClass]="{ hovered: isHovered(result) }"
      >
        <div class="ratio ratio-1x1 position-relative">
          <img
            [src]="
              result._links.thumbnail.href ===
              '/assets/shared/missing_image.png'
                ? '../../assets/artsy_logo.svg'
                : result._links.thumbnail.href
            "
            class="card-img-top img-fluid"
            alt="Thumbnail"
            style="object-fit: cover"
          />
        </div>
        <div *ngIf="isAuthenticated">
          <button
            (click)="
              isFavorite(result)
                ? removeFromFavorites(result)
                : addToFavorites(result)
            "
            type="button"
            class="btn p-0 border-0 position-absolute top-0 end-0 m-2"
          >
            <img
              [src]="
                isFavorite(result)
                  ? '../../assets/star-solid.svg'
                  : '../../assets/star-regular.svg'
              "
              alt="favorite"
              style="
                width: 40px;
                height: 40px;
                background-color: #205375;
                border-radius: 50%;
                padding: 5px;
                color: aliceblue;
              "
              class="position-absolute top-0 end-0 m-2"
            />
          </button>
        </div>
        <div
          class="card-body p-2 text-white shadow"
          [ngStyle]="{
            'background-color': isActiveCard(result) ? '#024D91' : '#205375'
          }"
          (mouseover)="onHover(true, result)"
          (mouseleave)="onHover(false, result)"
          [ngClass]="{ hovered: isHovered(result) }"
        >
          <p class="card-title text-left" style="font-size: large">
            {{ result.title }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
